/************** Общие *********************/

#modal-pencil-text .modal-header, #modal-pencil-image .modal-header {
    display: flex;
}

#modal-pencil-text h5, #modal-pencil-image h5 {
    flex-grow: 1;
}

/************** Текст *********************/

.pencil-button {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: #007bff;
    transition: 300ms;
}

.pencil-button:hover {
    text-decoration-color: #0069d9;
}

#modal-pencil-text textarea {
    width: 100%;
    height: 200px;
    resize: vertical;
}

/************** Изображения ********************/

.pencil-gallery {
    margin: 20px 0;
    text-align: center;
}

.big-gallery-button {
    background: #007bff;
    color: #fff;
    padding: 10px 15px;
    border-radius: 3px;
    transition: 300ms;
}

.big-gallery-button:hover, .big-gallery-button:focus {
    background: #0069d9;
    color: #fff;
    text-decoration: none;
}

.small-gallery-button {
    color: #fff !important;
    background: #007bff !important;
    position: absolute !important;
    bottom: 0 !important;
    right: 0 !important;
    width: 20px !important;
    height: 20px !important;
    text-align: center !important;
    border-radius: 3px !important;
    transition: 300ms !important;
    line-height: 15px !important;
}

.small-gallery-button:hover {
    background: #0069d9 !important;
}

#modal-pencil-image .preview {
    margin: 0;
    padding: 11px;
    border: 1px dashed #00000040;
    border-radius: 5px;
    min-height: 150px;
}

#modal-pencil-image .preview::after {
    content: "";
    display: table;
    clear: both;
}

#modal-pencil-image .preview .cart {
    text-align: center;
    margin: 7px;
    padding: 0 10px 10px;
    max-width: 23%;
    border: 1px solid #00000040;
    box-shadow: 0 0 5px #00000036;
    background-color: #fff;
    float: left;
}

#modal-pencil-image .preview .cart img {
    height: 164px;
}

#modal-pencil-image .preview .delete {
    text-align: right;
}

#modal-pencil-image .preview .delete a {
    text-decoration: none;
    color: #000;
}

#modal-pencil-image .preview p {
    overflow: hidden;
    margin: 10px 0 0;
    font-size: 12px;
    color: #212529;
}

#modal-pencil-image .preview .pre-load {
    padding-top: 21px;
}

#modal-pencil-image .preview .success {
    background: #f0fff0;
    box-shadow: 0 0 5px 0 #00a900f5;
}

#modal-pencil-image .preview .error {
    background: #fff0f0;
    box-shadow: 0 0 5px 0 #a90000f5;
}

#modal-pencil-image .modal-footer {
    display: block;
}

#modal-pencil-image .modal-footer .buttons {
    justify-content: space-between;
}

#modal-pencil-image .modal-footer .action {
    text-align: right;
}

#modal-pencil-image .modal-footer .action div {
    position: absolute;
    top: 6px;
    font-size: 18px;
    color: #e00000;
}

#modal-pencil-image .modal-footer .new-input {
    background-color: #28a745;
    color: #fff;
    width: 210px;
    text-align: center;
    border-radius: 5px;
    padding: 7px 0;
    transition: 300ms;
}

#modal-pencil-image .modal-footer .default-input{
    position: absolute;
    top: 0;
    left: 15px;
    width: 210px;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
    opacity: 0;
    height: 38px;
}

#modal-pencil-image .error-label {
    display: none;
    background-color: #f2dede;
    color: #a94442;
    padding: 10px;
    font-weight: 900;
    border-radius: 0 0 5px 5px;
    border: 1px solid #ebcccc;
}

#modal-pencil-image img {
    max-width: 100% !important;
    height: auto;
}

#modal-pencil-image .modal-footer .btn-primary {
    min-width: 103px;
}